@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Raleway";
    src: url("./assets/raleway.ttf");
}
@font-face {
    font-family: "DmSans";
    src: url("./assets/dmsans.ttf");
}
